/* Page Header */
.page-header {
  z-index: 1001;

  h2 {
    color: #fff;
    border-bottom: 4px solid $color-primary;
    box-sizing: content-box;
    display: inline-block;
    float: left;
    height: 50px;
    font-size: 1.2rem;
    font-weight: $font-weight-normal;
    letter-spacing: normal;
    line-height: 50px;
    margin: 0 0 0 -1px;
    padding: 0 (20px + 2px) 0 20px;
  }

  .breadcrumbs {
    display: inline-block;
    font-size: 0;
    line-height: 50px;
    margin: 0;
    padding: 0;

    li {
      color: #c3c3c3;
      display: inline-block;
      font-weight: 300;

      &:after {
        content: "/";
        display: inline-block;
        font-size: 0.85rem;
        margin: 0 10px;
        vertical-align: middle;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    .fa-home {
      font-size: 1.4rem;
    }

    i {
      vertical-align: middle;
    }

    a,
    span {
      color: #c3c3c3;
      display: inline-block;
      font-size: 0.85rem;
      line-height: 20 + px;
      vertical-align: middle;
    }
  }

  .sidebar-right-toggle {
    cursor: pointer;
    color: #c3c3c3;
    display: inline-block;
    font-size: 17px;
    margin: 0 0 0 10px;
    height: 50px;
    width: 50px;
    vertical-align: top;
    text-align: center;
    transition: all 0.15s ease-in-out;

    i {
      line-height: 50px + 3;
      vertical-align: middle;
    }

    &:hover {
      color: $color-primary;
    }
  }

  /* Left Breadcumb */
  &.page-header-left-breadcrumb {
    position: relative;
    background: transparent !important;
    height: auto;
    top: 3px;
    margin: 0 0 15px;
    padding-left: 8px;
    border: 0 !important;
    box-shadow: none !important;
    z-index: 0;
    h2 {
      float: none;
      height: 40px;
      line-height: 30px;
      color: #33353f;
      padding: 0;
      border: 0;
    }
    .right-wrapper {
      float: none;
      padding-left: 0;
    }
    .breadcrumbs {
      margin-top: -10px;
      line-height: 30px;
      a,
      span {
        color: #757677;
      }
    }
    .sidebar-right-toggle {
      position: absolute;
      top: 30%;
      right: -25px;
      color: #33353f;
      transform: translateY(-50%);
    }
  }

  /* Mobile */
  @media (max-width: 767px) {
    .page-header-left-breadcrumb {
      margin-top: 15px;
      .sidebar-right-toggle {
        right: -15px;
      }
    }
  }
}

// HEADER DARK AND DARK VERSION
// -----------------------------------------------------------------------------
/* Header Dark - Page Header */
html.dark,
html.header-dark {
  .page-header {
    border-left-color: #171717;
    box-shadow: 1px 3px 0 1px #2f3139;
  }
}

// SIDEBAR LIGHT
// -----------------------------------------------------------------------------
/* Sidebar Light- Page Header */
html.sidebar-light:not(.dark) {
  .page-header {
    border-left-color: #e6e6e6;
    background: #f6f6f6;
    box-shadow: 1px 3px 0 1px #e2e3e6;
    h2 {
      color: #333;
    }
    .breadcrumbs {
      a,
      span {
        color: #333;
      }
    }
    .sidebar-right-toggle {
      i {
        color: #333;
      }
    }
  }
}

// SIDEBAR RIGHT OPENED
// -----------------------------------------------------------------------------
html.sidebar-right-opened .page-header {
  .sidebar-right-toggle {
    i {
      &:before {
        content: "\f054";
      }
    }
  }
}

// PAGE HEADER - MOBILE
// -----------------------------------------------------------------------------
/* Page Header - Mobile */
@media only screen and (max-width: 767px) {
  .page-header {
    padding-right: 80px;

    .breadcrumbs {
      display: none;
    }

    h2 {
      font-size: 16px;
      padding: 0 15px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }

    .sidebar-right-toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

// PAGE HEADER - IE FIXES
// -----------------------------------------------------------------------------
html.ie {
  /* Page header */
  .page-header {
    /* Left Breadcumb */
    &.page-header-left-breadcrumb {
      h2 {
        float: left;
      }
    }
  }
}
