.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

::ng-deep .fc .fc-toolbar .fc-button {
  background: #0073dd;
}

::ng-deep .bootstrap-timepicker-widget.dropdown-menu.open {
  z-index: 999999 !important;
}
