<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">
            My Dashboard
          </h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="app">
            <!-- <div class='app-top'>
              <button (click)='toggleVisible()'>toggle visible</button>
              <button (click)='toggleWeekends()'>toggle weekends</button>
              <button (click)='gotoPast()'>go to a date in the past</button>
              (also, click a date/time to add an event)
            </div> -->

            <div class="app-calendar" *ngIf="calendarVisible">
              <full-calendar
                #calendar
                defaultView="dayGridMonth"
                [header]="{
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth'
                }"
                [plugins]="calendarPlugins"
                [weekends]="calendarWeekends"
                [events]="calendarEvents"
                (dateClick)="handleDateClick($event)"
              ></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal Primary -->
  <a
    style="visibility: hidden; "
    class="mb-1 mt-1 mr-1 modal-with-zoom-anim ws-normal btn btn-default"
    href="#modalAnim"
    >Open with fade-zoom animation</a
  >
  <!-- Modal Animation -->
  <div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="card">
      <header class="card-header">
        <h2 class="card-title">Are you sure?</h2>
      </header>
      <div class="card-body">
        <form class="form-horizontal form-bordered">
          <div class="form-group row">
            <label class="col-lg-3 control-label text-lg-right pt-2">Booking Date</label>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-calendar-alt"></i>
                  </span>
                </span>
                <input type="text" data-plugin-datepicker class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 control-label text-lg-right pt-2">Start Time</label>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-clock"></i>
                  </span>
                </span>
                <input type="text" data-plugin-timepicker class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 control-label text-lg-right pt-2">End Time</label>
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-clock"></i>
                  </span>
                </span>
                <input type="text" data-plugin-timepicker class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-8">
              <div class="checkbox-custom checkbox-default">
                <input id="RememberMe" name="rememberme" type="checkbox" />
                <label for="RememberMe">I agree will all terms and condition</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <footer class="card-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-primary modal-confirm">Book Now</button>
            <button class="btn btn-default modal-dismiss">Cancel</button>
          </div>
        </div>
      </footer>
    </section>
  </div>
</section>
