<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">Search Reasearch Equipment</h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
          <form id="chk-radios-form" action="forms-validation.html" novalidate="novalidate">
            <section class="card">
              <header class="card-header" style="text-align: center;padding: 0.75rem 0.75rem;">
                <h2 class="card-title">FILTER</h2>
              </header>
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-sm-9">
                    <p class="card-subtitle">
                      Filter by
                    </p>
                    <br />
                    <div class="checkbox-custom chekbox-primary">
                      <input id="for-project" value="project" type="checkbox" name="for[]" required="" />
                      <label for="for-project">Institution</label>
                    </div>
                    <div class="checkbox-custom chekbox-primary">
                      <input id="for-website" value="website" type="checkbox" name="for[]" />
                      <label for="for-website">Manufacturer</label>
                    </div>
                    <div class="checkbox-custom chekbox-primary">
                      <input id="for-all" value="all" type="checkbox" name="for[]" />
                      <label for="for-all">Nearest me</label>
                    </div>
                    <label class="error" for="for[]"></label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-9">
                    <p class="card-subtitle">
                      Sort by
                    </p>
                    <br />
                    <div class="checkbox-custom chekbox-primary">
                      <input id="for-project" value="project" type="checkbox" name="for[]" required="" />
                      <label for="for-project">Nearest Location</label>
                    </div>
                    <label class="error" for="for[]"></label>
                  </div>
                </div>
              </div>
              <footer class="card-footer">
                <div class="row justify-content-end">
                  <div class="col-sm-9">
                    <button class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                  </div>
                </div>
              </footer>
            </section>
          </form>
        </div>
        <div class="col-lg-8 col-xl-8">
          <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
              <li class="nav-item active">
                <a class="nav-link" href="#overview" data-toggle="tab">Search Result (10 - 226)</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="overview" class="tab-pane active">
                <ul class="simple-post-list">
                  <li>
                    <div class="row" style="position: relative;">
                      <span style="color: gray;position: absolute;bottom: 0px;right: 25px;font-size: 15px;">
                        <i class="fas fa-map-marker"></i> 504, abc street, state
                      </span>
                      <div class="col-lg-2">
                        <div class="img-thumbnail">
                          <a href="#">
                            <img src="./assets/img/post-thumb-1.jpg" style="width: 80px;" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                        <ul class="simple-bullet-list mb-3">
                          <li class="gray" style="border-bottom:0px;margin-top: 10px;">
                            <span class="title" style="color: gray;">Porto Template</span>
                          </li>
                          <li class="gray" style="border-bottom:0px">
                            <span class="title" style="color: gray;">Tucson HTML5 Template</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2">
                        <button class="btn btn-primary mt-2" type="submit" style="font-size:10px">View Details</button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row" style="position: relative;">
                      <span style="color: gray;position: absolute;bottom: 0px;right: 25px;font-size: 15px;">
                        <i class="fas fa-map-marker"></i> 504, abc street, state
                      </span>
                      <div class="col-lg-2">
                        <div class="img-thumbnail">
                          <a href="#">
                            <img src="./assets/img/post-thumb-1.jpg" style="width: 80px;" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                        <ul class="simple-bullet-list mb-3">
                          <li class="gray" style="border-bottom:0px;margin-top: 10px;">
                            <span class="title" style="color: gray;">Porto Template</span>
                          </li>
                          <li class="gray" style="border-bottom:0px">
                            <span class="title" style="color: gray;">Tucson HTML5 Template</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2">
                        <button class="btn btn-primary mt-2" type="submit" style="font-size:10px">View Details</button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row" style="position: relative;">
                      <span style="color: gray;position: absolute;bottom: 0px;right: 25px;font-size: 15px;">
                        <i class="fas fa-map-marker"></i> 504, abc street, state
                      </span>
                      <div class="col-lg-2">
                        <div class="img-thumbnail">
                          <a href="#">
                            <img src="./assets/img/post-thumb-1.jpg" style="width: 80px;" alt="" />
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                        <ul class="simple-bullet-list mb-3">
                          <li class="gray" style="border-bottom:0px;margin-top: 10px;">
                            <span class="title" style="color: gray;">Porto Template</span>
                          </li>
                          <li class="gray" style="border-bottom:0px">
                            <span class="title" style="color: gray;">Tucson HTML5 Template</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-2">
                        <button class="btn btn-primary mt-2" type="submit" style="font-size:10px">View Details</button>
                      </div>
                    </div>
                  </li>
                  <li style="text-align: center;">
                    <button class="btn btn-primary mt-2" type="submit" style="font-size:10px">Load More ..</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
