.mat-error {
  color: #f44336;
}

// @import "src/theme/theme-variables";
// @import "~bootstrap/scss/mixins/_breakpoints";

// .login-container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// .login-box {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   min-height: 100%;
// }

// .ng-invalid.ng-touched:not(form) {
//   border-left: 4px solid theme-color("danger");
// }

// @include media-breakpoint-down(xs) {
//   .container {
//     width: 100%;
//   }
// }

.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  max-width: none !important;
  margin-left: -300px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 2500;
}

.modal-body input {
  width: 200px;
  //  padding: 8px;
  border: 1px solid #ddd;
  color: #888;
  outline: 0;
  font-size: 14px;
  font-weight: bold;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

.modal-transparent {
  box-shadow: none;
  background: 0 0;
  color: #efefef;
}
.offline .text {
  font-size: 30px;
}
.blink {
  animation: blink normal 2s infinite ease-in-out;
}
.offline .icon {
  font-size: 100px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;

  .form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    // Add width 1% and flex-basis auto to ensure that button will not wrap out
    // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
    width: 1%;
    margin-bottom: 0;
  }
}
