<!-- start: page -->
<section class="body-sign">
  <div class="center-sign">
    
    <div class="panel card-sign">
     
      <div class="card-body" style=" box-shadow: 0 2px 26px 0 rgba(125, 56, 89, 0.07); background-color: #ffffff; border-top-color: #fff; ">
    
        <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>

         <div class="form-group mb-3">
          
            <div class="input-group">
             <a  class="logo" style=" margin-right: auto; margin-left: auto; ">
              <img src="./assets/img/logo.png" style="height: 120px;margin: 50px;" alt="QRDI" />
            </a>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group">
              <input  formControlName="email" name="email" placeholder="Username" type="email" class="form-control form-control-lg" />
              <span class="input-group-append">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </span>
            </div>
          </div>

          <div class="form-group mb-3">           
            <div class="input-group">
              <input formControlName="password" name="pwd" placeholder="Password"  type="password" class="form-control form-control-lg" />
              <span class="input-group-append">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
              </span>
            </div>
          </div>

          <div class="row">          
            <div class="col-sm-12 text-right">
              <button [disabled]="loginForm.pristine || loginForm.invalid" style="width: 100%;background: #691a40;border: 0;padding: 10px;margin-top: 40px;margin-bottom: 20px;" type="submit" class="btn btn-primary" >Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p class="text-center text-muted mt-3 mb-3">© Copyright 2020. All Rights Reserved.</p>
  </div>
</section>
<!-- end: page -->
