<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">About Us</h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <h3
        class="font-weight-semibold mt-3 text-center"
        style="width: 700px;margin-left: auto;margin-right: auto;margin-bottom: 50px !important;"
      >
        about Assets Managment Portal
      </h3>
      <div class="row">
        <div class="col-md-6 ">
          <img
            src="./assets/img/projects/project-5.jpg"
            style="height:300px;margin-bottom: 10px !important;"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6 ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
          <p><button type="submit" class="btn btn-primary mt-2">Contact Us</button></p>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <div>
        <h3
          class="font-weight-semibold mt-3 text-center"
          style="width: 700px;margin-left: auto;margin-right: auto;margin-bottom: 30px !important;"
        >
          Our Vision, Mission & Goals
        </h3>
        <!-- <p class="text-center">Dont worry we will contact you</p> -->

        <div class="row">
          <div class="col-md-4 ">
            <div>
              <img
                src="./assets/img/blog-image-1.jpg"
                style="width:100%;margin-bottom: 10px !important;"
                class="img-fluid"
              />
              <h4 class="font-weight-semibold mt-3" style="margin-bottom: 10px !important;">Our Vision</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                etdolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
              </p>
            </div>
          </div>
          <div class="col-md-4 ">
            <div>
              <img
                src="./assets/img/blog-image-1.jpg"
                style="width:100%;margin-bottom: 10px !important;"
                class="img-fluid"
              />
              <h4 class="font-weight-semibold mt-3" style="margin-bottom: 10px !important;">Our Mission</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                etdolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
              </p>
            </div>
          </div>
          <div class="col-md-4 ">
            <div>
              <img
                src="./assets/img/blog-image-1.jpg"
                style="width:100%;margin-bottom: 10px !important;"
                class="img-fluid"
              />
              <h4 class="font-weight-semibold mt-3" style="margin-bottom: 10px !important;">Our Goals</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                etdolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <div class="text-center">
        <h3
          class="font-weight-semibold mt-3 text-center"
          style="width: 700px;margin-left: auto;margin-right: auto;margin-bottom: 30px !important;"
        >
          Our Interesting Statistics
        </h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor…</p>

        <div class="row">
          <div class="col-md-4 ">
            <div class="text-center">
              <div class="widget-profile-info">
                <div class="profile-picture">
                  <img src="" style="margin-left: auto;margin-right: auto;background-color: gray;" />
                </div>
              </div>

              <h3 class="font-weight-semibold mt-3 text-center" style="margin-bottom: 10px !important;">2368</h3>
              <p>Equipment Records</p>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="text-center">
              <div class="widget-profile-info">
                <div class="profile-picture">
                  <img src="" style="margin-left: auto;margin-right: auto;background-color: gray;" />
                </div>
              </div>

              <h3 class="font-weight-semibold mt-3 text-center" style="margin-bottom: 10px !important;">19</h3>
              <p>Institutes</p>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="text-center">
              <div class="widget-profile-info">
                <div class="profile-picture">
                  <img src="" style="margin-left: auto;margin-right: auto;background-color: gray;" />
                </div>
              </div>

              <h3 class="font-weight-semibold mt-3 text-center" style="margin-bottom: 10px !important;">2368</h3>
              <p>Total Searches</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
