<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">Contacts Us</h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="text-center">
            <div class="widget-profile-info" style="color: white;">
              <div class="profile-picture">
                <img src="" style="margin-left: auto;margin-right: auto;background-color: gray;" />
              </div>
            </div>
            <h4 class="font-weight-semibold mt-3" style="margin-bottom: 10px !important;color: white;">
              Contact to us
            </h4>
            <p style="color: white;font-size: 12px;">XXX-XXXX-XXXX</p>
            <p style="color: white;font-size: 12px;">XXX-XXXX-XXXX</p>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="text-center">
            <div class="widget-profile-info" style="color: white;">
              <div class="profile-picture">
                <img src="" style="margin-left: auto;margin-right: auto;background-color: gray;" />
              </div>
            </div>
            <h4 class="font-weight-semibold mt-3" style="margin-bottom: 10px !important;color: white;">Write to us</h4>
            <p style="color: white;font-size: 12px;">email@abc.com</p>
            <p style="color: white;font-size: 12px;">email@abc.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <h3
        class="font-weight-semibold mt-3 text-center"
        style="width: 700px;margin-left: auto;margin-right: auto;margin-bottom: 50px !important;"
      >
        Get in touch with us
      </h3>
      <div class="row">
        <div class="col-md-12 ">
          <form>
            <section>
              <div>
                <div class="row form-group">
                  <div class="col-lg-6">
                    <input type="text" name="firstName" placeholder="Full Name" class="form-control" />
                  </div>

                  <div class="mb-3 hidden-lg"></div>

                  <div class="col-lg-6">
                    <input type="email" name="lastName" placeholder="Contact Number" class="form-control" />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-6">
                    <input type="email" name="email" placeholder=" Email" class="form-control" />
                  </div>

                  <div class="mb-3 hidden-lg"></div>

                  <div class="col-lg-6">
                    <input type="email" name="email" placeholder=" Subject" class="form-control" />
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12">
                    <textarea class="form-control" rows="5" placeholder="Type your message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12" style="text-align: center;">
                    <button class="btn btn-primary" style="font-size: 20px;">Send</button>
                  </div>
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
