<aside id="sidebar-left" class="sidebar-left">
  <div class="nano">
    <div class="nano-content" tabindex="0">
      <nav id="menu" class="nav-main" role="navigation">
        <ul class="nav nav-main" style="padding:5px;">
          <li class="nav-active">
            <a class="nav-link" href="layouts-default.html">
              <i class="fas fa-home" aria-hidden="true" style="color: white;"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-parent">
            <a class="nav-link" href="#">
              <i class="fas fa-check-square" aria-hidden="true"></i>
              <span>Booking</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" href="index.html">
                  Calendar
                </a>
              </li>
              <li>
                <a class="nav-link" href="layouts-default.html">
                  All Bookings
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a class="nav-link" href="#">
              <i class="fas fa-microscope" aria-hidden="true"></i>
              <span>Equipment</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" href="index.html">
                  Add new Equipment
                </a>
              </li>
              <li>
                <a class="nav-link" href="layouts-default.html">
                  All Equipment
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a class="nav-link" href="#">
              <i class="fas fa-university" aria-hidden="true"></i>
              <span>Institutes</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" href="index.html">
                  Add new Institutes
                </a>
              </li>
              <li>
                <a class="nav-link" href="layouts-default.html">
                  All Institutes
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a class="nav-link" href="#">
              <i class="fas fa-users" aria-hidden="true"></i>
              <span>Users</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/create-user']" routerLinkActive="active">
                  Add new User
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active">
                  All Users
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a class="nav-link" href="#">
              <i class="fas fa-cog" aria-hidden="true"></i>
              <span>Configurations</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" href="index.html">
                  Profile
                </a>
              </li>
              <li>
                <a class="nav-link" href="layouts-default.html">
                  General
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-link" href="layouts-default.html">
              <i class="fas fa-question-circle" aria-hidden="true"></i>
              <span>Support</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
