<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">All Institutes</h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <div class="card-body">
        <table class="table table-no-more table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th class="text-left">Institutes</th>
              <th class="text-right">No of equipment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
            <tr>
              <td data-title="Company" class="text-left">AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
              <td data-title="Volume" class="text-right">10</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
