<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">Nanoflow UHPS dual cell liniera high track Equipment</h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
      <br />
      <div
        class="owl-carousel owl-theme"
        style="width: 100%;margin-left:auto;margin-right: auto;"
        data-plugin-carousel
        data-plugin-options='{ "dots": true, "items": 1 }'
      >
        <div class="item"><img class="img-thumbnail" src="./assets/img/blog-image-1.jpg" alt="" /></div>
        <div class="item"><img class="img-thumbnail" src="./assets/img/blog-image-1.jpg" alt="" /></div>
        <div class="item"><img class="img-thumbnail" src="./assets/img/blog-image-1.jpg" alt="" /></div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-3">
            <h4 class="font-weight-semibold mt-0">Simple Block Title</h4>
            <button class="btn btn-primary" style="position: absolute;top: 0;right: 30px;">Book Now</button>
            <hr class="solid short" />
            <p>
              Nullam quiris risus eget urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient
              montes. Urna mollis ornare vel eu leo. Soccis natoque penatibus et magnis dis parturient montes. Soccis
              natoque penatibus et magnis dis parturient montes.Nullam quiris risus eget urna mollis ornare vel eu leo.
              Soccis natoque penatibus et magnis dis parturient montes. Urna mollis ornare vel eu leo. Soccis natoque
              penatibus et magnis dis parturient montes. Soccis natoque penatibus et magnis dis parturient montes.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <section class="card">
            <header class="card-header">
              <h2 class="card-title" style="margin-bottom:0px">Equipment Details</h2>
            </header>
            <div>
              <form class="form-horizontal form-bordered" method="get">
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Equipment Name</label>
                  <div class="col-lg-6">
                    <p class="help-block">Nanoflow UHPS dual cell liniera high track Equipment</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Equipment Name</label>
                  <div class="col-lg-6">
                    <p class="help-block">Nanoflow UHPS dual cell liniera high track Equipment</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Equipment Cateogry</label>
                  <div class="col-lg-6">
                    <p class="help-block">Semicondoctor Device</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Model</label>
                  <div class="col-lg-6">
                    <p class="help-block">CP30</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Manufacturer</label>
                  <div class="col-lg-6">
                    <p class="help-block">ABC pvt. ltd.</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Supplier</label>
                  <div class="col-lg-6">
                    <p class="help-block">ABC pvt. ltd.</p>
                  </div>
                </div>
              </form>
            </div>
            <header class="card-header">
              <h2 class="card-title" style="margin-bottom:0px">Institutes Details</h2>
            </header>
            <div>
              <form class="form-horizontal form-bordered" method="get">
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Institutes Name</label>
                  <div class="col-lg-6">
                    <p class="help-block">Nanoflow UHPS dual cell liniera high track Equipment</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault"
                    >Lab / Workshop Name
                  </label>
                  <div class="col-lg-6">
                    <p class="help-block">Nanoflow UHPS dual cell liniera high track Equipment</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Building Name</label>
                  <div class="col-lg-6">
                    <p class="help-block">Semicondoctor Device</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Room Number</label>
                  <div class="col-lg-6">
                    <p class="help-block">CP30</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault"
                    >Equipment in charge</label
                  >
                  <div class="col-lg-6">
                    <p class="help-block">ABC pvt. ltd.</p>
                  </div>
                </div>
              </form>
            </div>
            <header class="card-header">
              <h2 class="card-title" style="margin-bottom:0px">Contact Details</h2>
            </header>
            <div class="card-body">
              <form class="form-horizontal form-bordered" method="get">
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Faculty Name</label>
                  <div class="col-lg-6">
                    <p class="help-block">Mr. John Smith</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Phone Number </label>
                  <div class="col-lg-6">
                    <p class="help-block">XXX-XXXX-XXXX</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Email</label>
                  <div class="col-lg-6">
                    <p class="help-block">emal@abc.com</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Position</label>
                  <div class="col-lg-6">
                    <p class="help-block">Ass. Prof. Facalty</p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault">Website charge</label>
                  <div class="col-lg-6">
                    <p class="help-block"><a href="www.abc.com">www.abc.com</a></p>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
