$color-light-grey: #efefef;
$color-dark-grey: #888;
$color-red: #d23b3d;
$color-orange: #e2a917;
$color-blue: #1bc3e1;
$color-green: #9ae14f;

// MAILBOX GENERIC
// -----------------------------------------------------------------------------
.mailbox {
  .content-with-menu-container {
    background: #fff;
  }

  .mailbox-bullets {
    .ball {
      border: 5px solid red;
      border-radius: 100px;
      display: block;
      float: right;
      margin-top: 6px;

      &.pink {
        border-color: #ea4c89;
      }
      &.green {
        border-color: #9ae14f;
      }
      &.blue {
        border-color: #1bc3e1;
      }
      &.orange {
        border-color: #e2a917;
      }
    }
  }
}

// MAILBOX MAIN
// -----------------------------------------------------------------------------
.mailbox .mailbox-folder {
  height: auto !important;
  padding: 0 0 40px;
}

// MAILBOX HEADER
// -----------------------------------------------------------------------------
/* mailbox - main header */
.mailbox .mailbox-folder .mailbox-header {
  padding: 38px 40px 43px;

  @media only screen and (max-width: 767px) {
    padding: 20px;
  }

  .mailbox-title {
    @media only screen and (max-width: 767px) {
      margin-bottom: 10px !important;
    }
  }

  .search {
    float: right;
    margin-top: 3px;
    max-width: 100px;

    input[type="text"] {
      transition-property: width, margin;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.05, 0.91, 0.25, 0.99);

      &:focus {
        margin-left: -150%;
        width: 250%;

        @media only screen and (max-width: 767px) {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      max-width: none;
      width: 100%;
    }
  }
}

// MAILBOX ACTIONS
// -----------------------------------------------------------------------------
/* mailbox - actions */
.mailbox .mailbox-actions {
  border: {
    top: 1px solid $color-light-grey;
  }

  padding: {
    left: 40px;
    right: 40px;
  }

  @media only screen and (max-width: 767px) {
    padding: {
      left: 20px;
      right: 20px;
    }
    text-align: center;
  }

  ul {
    a {
      color: $color-dark;
      text-decoration: none;
      font-size: 0.9rem;
    }
    a.item-action {
      background: #fff;
      border-radius: 100px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      color: #b4bbc1;
      display: inline-block;
      height: 30px;
      line-height: 1.9rem;
      position: relative;
      width: 30px;
      text-align: center;

      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.2, 0.6, 0.25, 1);
      transition-delay: 0.1s;

      &:hover {
        color: #57636c;
        text-decoration: none;
      }

      @each $state in $states {
        &.text-#{nth($state,1)} {
          &:hover {
            color: darken(nth($state, 2), 10%) !important;
          }
        }
      }
    }
  }
}

/* mailbox - mail list */
.mailbox .mailbox-email-list {
  border: {
    top: 1px solid lighten($color-light-grey, 3%);
  }

  font-weight: 300;

  @media only screen and (max-width: 767px) {
    position: static !important;
  }

  li {
    border: {
      bottom: 1px solid lighten($color-light-grey, 3%);
    }
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    position: relative;
    font-size: 1rem;

    @media only screen and (max-width: 767px) {
      height: 75px;
      padding: 0 20px;
    }

    a {
      color: #777;
    }

    &:hover {
      background: #fafafa;
    }

    &.unread {
      a {
        color: #555;
        font-weight: 500;
      }
    }

    &.active {
      background: $color-primary;
      a {
        color: $color-primary-inverse;
      }
    }
  }

  .mail-label {
    border: 4px solid transparent;
    border-radius: 10px;
    display: inline-block;
    left: 16px;
    position: absolute;
    top: 21px;

    @media only screen and (max-width: 767px) {
      border-radius: 0;
      border-width: 1px;
      bottom: 0;
      left: 0;
      top: 0;
    }
  }

  .col-sender {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    white-space: nowrap;

    @media only screen and (max-width: 767px) {
      width: 100%;
    }

    p {
      left: 80px;
      overflow: hidden;
      position: absolute;
      right: 0;
      text-overflow: ellipsis;
      top: 13px;
      white-space: nowrap;

      @media only screen and (max-width: 767px) {
        left: 60px;
      }
    }
  }

  .col-mail {
    bottom: 0;
    left: 290px;
    position: absolute;
    right: 40px;
    top: 0;

    @media only screen and (max-width: 767px) {
      left: 60px;
      right: 20px;
    }

    .mail-content,
    .mail-date,
    .mail-attachment {
      position: absolute;
      top: 0;
    }

    .mail-content {
      left: 0;
      right: 140px;
      top: 13px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      @media only screen and (max-width: 767px) {
        right: 0;
        top: 25px;
        line-height: 2.9;
      }
    }

    .mail-attachment {
      color: #bbb;
      right: 100px;
      line-height: 50px;

      @media only screen and (max-width: 767px) {
        @include font-size(11);
        @include line-height(14);
        right: 55px;
        top: 6px;
      }
    }

    .mail-date {
      padding-left: 80px;
      right: 0;
      top: 13px;
      width: 150px;

      @media only screen and (max-width: 767px) {
        @include font-size(7);
        @include line-height(14);
        padding-left: 0;
        text-align: right;
        top: 5px;
        width: 130px;
      }
    }
  }
}

/* Mailbox Mail List - Unstyle nano for non fixed layouts and responsive */
html.scroll,
html.boxed {
  .mailbox .mailbox-email-list {
    .nano {
      position: static;
      height: auto;
      overflow: visible;
      width: auto;

      .nano-content {
        position: static;
        overflow: visible;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .mailbox .mailbox-email-list {
    .nano {
      position: static;
      height: auto;
      overflow: visible;
      width: auto;

      .nano-content {
        position: static;
        overflow: visible;
      }
    }
  }
}

/* Mailbox Mail List + Fixed Layout */
@media only screen and (min-width: 768px) {
  html.fixed {
    .mailbox .mailbox-email-list {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      overflow: hidden;
      top: 191px;
    }
  }
}

// MAILBOX MAIL
// -----------------------------------------------------------------------------
/* Mailbox - Email */
.mailbox .mailbox-email {
  background: #fafafa;

  .mailbox-email-header {
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    margin: (-(40px)) (-(40px)) 0 (-(40px));
    padding: 30px;

    @media only screen and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .mailbox-close-mail {
    color: $color-primary;
    cursor: pointer;
    font-weight: 300;
    float: left;

    &:hover {
      color: lighten($color-primary, 5%);
    }

    &,
    &:focus {
      text-decoration: none;
    }
  }

  .card {
    .card-header {
      background: #fff;
      border-bottom-color: #efefef;

      .card-actions {
        top: 17px;

        a {
          &:hover {
            background: #fff;
            color: $color-primary;
          }
        }
      }
    }

    .card-footer {
      background: #fff;
      border-top-color: #efefef;
      color: #bbb;
    }
  }
}

/* Mailbox - Showing Menu Toggle */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .mailbox .mailbox-folder .mailbox-header {
    .mailbox-title {
      position: relative;
      top: 28px;
    }
  }

  .mailbox .mailbox-email {
    .mailbox-email-header {
      padding-top: 80px;
    }
  }

  html.inner-menu-opened {
    .mailbox .mailbox-folder .mailbox-header {
      .mailbox-title {
        position: static;
      }
    }

    .mailbox .mailbox-email {
      .mailbox-email-header {
        padding-top: 30px;
      }
    }
  }
}

// MAILBOX COMPOSE
// -----------------------------------------------------------------------------
/* Mailbox Compose */
.mailbox-compose {
  margin: (-(40px / 2)) (-(40px)) 0 (-(40px));
  padding: 0 15px;

  .form-bordered .form-group {
    min-height: 55px;
  }

  label {
    top: -11px !important;
  }

  .mailbox-compose-field {
    .bootstrap-tagsinput,
    .form-control {
      padding-left: 120px;
    }
  }

  .compose {
    margin: 0 40px;

    .note-editable {
      min-height: 250px;
      border: 1px solid #eff2f7;
    }

    .note-editor,
    .note-toolbar {
      border: none;
    }

    .note-resizebar {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .mailbox-compose {
    margin: (-(40px / 2)) -15px 0 -15px;

    .compose {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

// DARK
// -----------------------------------------------------------------------------
/* dark */
html.dark {
  .mailbox {
    .mailbox-email,
    .content-with-menu-container {
      background: $dark-bg;
    }

    .mailbox-actions {
      border-top-color: lighten($dark-bg, 5%);

      ul {
        a.item-action {
          background: $dark-color-4;
        }
      }
    }

    .mailbox-email-list {
      border-top-color: lighten($dark-bg, 5%);

      li {
        border-bottom-color: lighten($dark-bg, 3%);

        &:hover {
          background: darken($dark-bg, 3%);
        }

        a {
          color: $dark-default-text;
        }

        &.unread {
          a {
            color: lighten($dark-default-text, 10%);
          }
        }
      }
    }

    .mailbox-email {
      .mailbox-email-header {
        background: $dark-color-2;
      }

      .card {
        .card-header,
        .card-footer {
          background-color: $dark-color-3;
          border-color: $dark-color-2;
          color: $dark-default-text;

          .card-title {
            color: $dark-default-text;
          }
        }

        .card-header {
          .card-actions {
            a:hover {
              background: $dark-color-1;
            }
          }
        }
      }
    }

    .mailbox-compose {
      .note-editor {
        .note-toolbar,
        .note-statusbar,
        .note-editable {
          background: $dark-bg;
        }

        .note-editable {
          color: $dark-default-text;
        }
      }
    }
  }
}
