// SEARCH RESULTS
// -----------------------------------------------------------------------------
/* Change Content Background Color */
html.search-results {
  body {
    background: #fff;
  }
}

// WRAPPER
// -----------------------------------------------------------------------------
/* Search Results Wrapper */
.search-content {
  margin: -(40px);

  .search-control-wrapper {
    background: darken(#fff, 3%);
    border-bottom: 1px solid darken(#fff, 8%);
    margin-top: 3px;
    padding: (40px / 2);
  }
}

// WRAPPER
// -----------------------------------------------------------------------------
/* Search Results Tabs */
.search-content {
  .search-toolbar {
    border-bottom: 1px solid #ebebeb;
    margin: 0 0 40px;

    .nav-pills {
      margin: 0 40px;

      li {
        margin: 0 15px 0 0;

        &:last-child {
          margin-right: 0;
        }

        a {
          padding-left: 5px;
          padding-right: 5px;
          border-left: 0;
          border-right: 0;
          margin-bottom: -1px;

          &,
          &:hover,
          &:focus {
            background: none;
            border-radius: 0;
            border-bottom: 2px solid #fff;
            border-top: 2px solid #fff;
            color: #777;
          }
        }

        a {
          &:hover,
          &:focus {
            background: none;
            border-radius: 0;
            border-bottom: 2px solid #fff;
            border-top: 2px solid #fff;
            color: #555;
          }
        }

        &.active {
          a {
            color: $color-primary;
            border-bottom-color: $color-primary;
          }
        }
      }
    }
  }

  > .tab-content {
    border: none;
    box-shadow: none;
    padding: 0 40px;
  }
}

// TOTALS
// -----------------------------------------------------------------------------
/* Search Result Totals */
.search-content {
  .total-results {
    margin-top: -25px;
  }
}

// LIST
// -----------------------------------------------------------------------------
/* Search Results List */
.search-results-list {
  max-width: 750px;

  li {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .result-type {
    right: 5px;
    position: absolute;
    top: 5px;
  }

  a {
    border-radius: 4px;
    display: block;
    padding: 25px;
    text-decoration: none;

    .title {
      margin-top: 0;
    }

    .description {
      color: #777;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: darken(#fff, 3%);
    }
  }

  .has-thumb {
    display: table;
    width: 100%;

    .result-thumb,
    .result-data {
      display: table-cell;
      vertical-align: top;
    }
  }

  .result-thumb {
    padding-right: 25px;

    img,
    .fa,
    .fab,
    .fal,
    .far,
    .fas {
      height: 75px;
      width: 75px;
    }

    .fa,
    .fab,
    .fal,
    .far,
    .fas {
      background: $color-primary;
      color: $color-primary-inverse;
      @include font-size(36);
      @include line-height(75);
      text-align: center;
    }
  }
}

// RESPONSIVENESS
// -----------------------------------------------------------------------------
/* Search Results Responsive */
@media only screen and (max-width: 767px) {
  .search-content {
    margin: -(40px / 2);
  }
}

@media only screen and (max-width: 480px) {
  .search-results-list {
    .has-thumb {
      @include clearfix();
      display: block;

      .result-thumb,
      .result-data {
        display: block;
      }

      .result-thumb {
        float: left;
      }

      .result-data {
        .title {
          margin-top: 3px;
        }
      }
    }

    .result-thumb {
      img,
      .fa,
      .fab,
      .fal,
      .far,
      .fas {
        height: 35px;
        width: 35px;
      }

      .fa,
      .fab,
      .fal,
      .far,
      .fas {
        font-size: 0.9rem;
        @include line-height(35);
      }
    }
  }
}

// DARK
// -----------------------------------------------------------------------------
/* dark */
html.dark {
  .search-content {
    .search-control-wrapper {
      background: $dark-color-1;
      border-bottom-color: $dark-color-3;
    }

    .tab-content {
      background: transparent;
    }

    .search-toolbar {
      background: $dark-color-2;
      border-bottom-color: $dark-color-2;

      .nav-pills {
        a {
          &,
          &:hover,
          &:focus {
            border-bottom-color: $dark-color-2;
            border-top-color: $dark-color-2;
            color: $dark-default-text;
          }
        }

        a {
          &:hover,
          &:focus {
            border-bottom-color: $dark-color-2;
            border-top-color: $dark-color-2;
            color: #555;
          }
        }

        li.active {
          a {
            &,
            &:hover,
            &:focus {
              color: $color-primary;
              border-bottom-color: $color-primary;
            }
          }
        }
      }
    }

    .search-results-list {
      li {
        border-bottom-color: $dark-color-3;
      }

      a {
        .description {
          color: $dark-default-text;
        }

        &:hover {
          background: lighten($dark-bg, 5%);
        }
      }
    }
  }
}
