/* Buttons */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none !important;

  &:hover,
  &:active,
  &:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.btn {
  font-size: 0.9rem;
  padding: 0.47rem 0.75rem;
  cursor: pointer;

  &.btn-xs {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
  }

  &.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 0.65rem;
  }

  &.btn-lg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &.btn-xl {
    font-size: 1rem;
    padding: 0.8rem 2rem;
  }
}

/* Icons  */
.btn-icon i {
  margin-#{$right}: 10px;
}

.btn-icon-right i {
  margin-#{$right}: 0;
  margin-#{$left}: 10px;
}

/* Colors */
@each $state in $states {
  $color: nth($state, 2);
  $textColor: nth($state, 3);

  .btn-#{nth($state,1)} {
    background-color: $color;
    border-color: $color $color darken($color, 10%);
    color: $textColor;

    &:hover,
    &.hover {
      background-color: lighten($color, 7.5%);
      border-color: lighten($color, 10%) lighten($color, 10%) $color;
      color: $textColor;
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 3px rgba($color, 0.5);
      color: $textColor;
    }

    &.disabled,
    &:disabled {
      background-color: $color;
      border-color: $color $color darken($color, 10%);
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
      background-color: darken($color, 7.5%);
      background-image: none;
      border-color: darken($color, 10%) darken($color, 10%) darken($color, 20%);
    }
  }

  .show > .btn-#{nth($state,1)}.dropdown-toggle {
    background-color: darken($color, 7.5%);
    background-image: none;
    border-color: darken($color, 10%) darken($color, 10%) darken($color, 20%);
  }
}

html {
  // SOCIAL BUTTONS
  // -----------------------------------------------------------------------------
  /* Buttons - Social */
  .btn-facebook,
  .btn-twitter,
  .btn-gplus {
    &,
    &:active,
    &:hover,
    &:focus {
      color: #fff;
      font-weight: 300;
      padding-left: 30px;
      padding-right: 30px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .btn-facebook {
    &,
    &:focus {
      background: #3b5998;
      border: 1px solid #37538d;
    }

    &:hover {
      background: lighten(#3b5998, 4%);
      border-color: lighten(#37538d, 4%);
    }

    &:active {
      background: darken(#3b5998, 3%);
      border-color: darken(#37538d, 3%);
    }
  }

  .btn-twitter {
    &,
    &:focus {
      background: #55acee;
      border: 1px solid #47a5ed;
    }

    &:hover {
      background: lighten(#55acee, 3%);
      border-color: lighten(#47a5ed, 3%);
    }

    &:active {
      background: darken(#55acee, 3%);
      border-color: darken(#47a5ed, 3%);
    }
  }

  .btn-gplus {
    &,
    &:focus {
      background: #d95232;
      border: 1px solid #d44927;
    }

    &:hover {
      background: lighten(#d95232, 4%);
      border-color: lighten(#d44927, 4%);
    }

    &:active {
      background: darken(#d95232, 4%);
      border-color: darken(#d44927, 4%);
    }
  }
}

/* Buttons Icon */
.btn-icon i {
  margin-right: 10px;
}

.btn-icon-right i {
  margin-right: 0;
  margin-left: 10px;
}

// DARK
// -----------------------------------------------------------------------------
html.dark {
  .btn-default {
    background-color: $dark-color-3;
    border-color: $dark-color-3;
    color: #eee;

    &:hover {
      background-color: lighten($dark-color-3, 1%);
      border-color: lighten($dark-color-3, 1%);
    }

    &:focus,
    &:active {
      background-color: darken($dark-color-3, 2%);
      border-color: darken($dark-color-3, 2%);
    }
  }

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .show > .dropdown-toggle.btn-default {
    color: #eee;
    background-color: darken($dark-color-3, 2%);
    border-color: darken($dark-color-3, 2%);
  }
}
