/* Markdown */
.md-editor {
  border-radius: 4px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  > .md-header {
    border-radius: 4px 4px 0 0;
    padding: 10px 10px 4px;
  }

  > .md-preview,
  > textarea {
    background: #fff;
    border-bottom: none;
    border-radius: 0 0 4px 4px;
    padding: 10px;
    outline: none;
    width: 100% !important;
  }

  .btn-group {
    margin-bottom: 6px;
    margin-right: 6px;
  }
}

// DARK
// -----------------------------------------------------------------------------
html.dark {
  .md-editor {
    border-color: $dark-color-3;
  }

  .md-editor > .md-header,
  .md-editor .md-footer {
    background: $dark-color-5;
  }

  .md-editor > .md-preview,
  .md-editor > textarea {
    background: $dark-color-3;
  }

  .md-editor > textarea {
    color: #eee;
    border-color: $dark-color-1;
  }
}
