/* Multiselect */
html.dark {
  .multiselect-container {
    background-color: $dark-color-3;

    > li > a {
      color: #eee;

      &:hover,
      &:focus {
        background-color: $dark-color-1;
        color: #fff;
      }
    }
  }
}
