/* Word Rotator */
.wort-rotator {
  visibility: hidden;
  width: 100px;
  height: 0px;
  margin-bottom: -7px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: relative;
  top: -1px;
  &.active {
    visibility: visible;
    width: auto;
  }
  .wort-rotator-items {
    position: relative;
    top: 0;
    width: 100%;
    span {
      display: block;
      white-space: nowrap;
    }
  }
  &.highlight {
    top: 1px;
  }
}

/* Word Rotator - Titles */
h1 .wort-rotator {
  margin-bottom: -12px;
}

h2 {
  .wort-rotator {
    margin-bottom: -12px;
  }
  &.word-rotator-title {
    line-height: 54px;
  }
}
