table {
  width: 100%;
}
.heading {
  font-weight: 500;
  color: #691a40 !important;
}
.primary-color {
  color: #232323;
}
.fs-14 {
  font-size: 14px;
}
.color-black {
  color: #000 !important;
}
.fs-12 {
  font-size: 12px !important;
}
section,
table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.add-new-user {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding: 20px 38px 20px 5px;
}
.search-box {
    height: 30px;
    border-radius: 4px;
    border: solid 1px #c8c8c8;
    padding: 5px;
    font-size: 14px;
}