<div *ngIf="isLoading" style="height:100vh">
  <div
    style="position: relative; top: 40%;-webkit-transform: translateY(-50%); transform: translateY(-50%); width: 50%; margin: auto;"
  >
    <p>Loading Dashboard ...</p>
    <mat-progress-bar class="loading-progress-bar " color="primary" mode="query"></mat-progress-bar>
  </div>
</div>
<section *ngIf="!isLoading" role="main" class="content-body">
  <header class="page-header mb-0">
    <div class="right-wrapper text-left">
      <ol class="breadcrumbs">
        <li>
          <a>
            <span class="heading fs-12">Dashboard</span>
          </a>
        </li>
        <li><span class="color-black fs-12">Users</span></li>
      </ol>
    </div>
  </header>
  <div class="add-new-user">
    <span>All users</span>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4 mb-lg-0">
      <section class="card dashboard-widget-card">
        <div class="card-body p-0 pt-3 pr-5">
          <div class="float-right mt-3 mb-3">
            <input type="text" class="search-box" placeholder="Search" name = "search" 
              [(ngModel)]="filters.searchBy" 
              (keyup) = "searchUser($event.target.value)"/>
          </div>
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>ID.</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ element?.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>Email Address</th>
              <td mat-cell *matCellDef="let element">{{ element?.email }}</td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>Phone</th>
              <td mat-cell *matCellDef="let element">{{ element?.phoneNumber  }}</td>
            </ng-container>

            <ng-container matColumnDef="institute">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>Institute</th>
              <td mat-cell *matCellDef="let element">{{ element?.institute }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>Role</th>
              <td mat-cell *matCellDef="let element">{{ element?.roleName }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th class="fs-14 primary-color" mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <a [routerLink]="['/edit-user', element.id]">
                  <img src="../../../../assets/img/edit.png" width="20" height="20"/>
                </a>
                &nbsp;
                <a (click)="removeUser(element.id)">
                    <img class="ml-4" src="../../../../assets/img/delete.png" width="20" height="20"/>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            #paginator
            [length]="filters.length"
            [pageSize]="filters.pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event; onPaginateChange($event)"
          >
          </mat-paginator>
        </div>
      </section>
    </div>
  </div>
  <!-- end: page -->
</section>
