.heading {
  font-weight: 500;
  color: #691a40 !important;
}
.primary-color {
  color: #232323;
}
.color-black {
  color: #000 !important;
}
.add-new-user {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  padding: 20px 38px 20px 5px;
}
.p-38 {
  padding: 38px;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px;
}
.primary-btn,
.primary-btn:hover {
  background-color: #691a40;
  padding: 14px 74px;
  color: #fff;
}
.secondary-btn,
.secondary-btn:hover {
  color: #979797;
  padding: 14px 74px;
  border: solid 1px #979797;
  background-color: #fff;
}
.edit-mode {
  color: #000;
}
section {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media only screen and (max-width: 900px) {
    .primary-btn, .secondary-btn, .primary-btn:hover, .secondary-btn:hover {
        padding: 14px 30px;
    } 
}