<section role="main" class="content-body">
  <header class="page-header mb-0">
    <div class="right-wrapper text-left">
      <ol class="breadcrumbs">
        <li>
          <a [routerLink]="['/users']">
            <span class="heading fs-12">Dashboard</span>
          </a>
        </li>
        <li>
          <span class="color-black fs-12">{{ editMode ? 'Add new user' : 'Update user' }}</span>
        </li>
      </ol>
    </div>
  </header>
  <div class="add-new-user">
    <img src="../.././../../assets/img/back-arrow.png" width="20" height="20"/>
    <span class="ml-3">Add new user</span>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4 mb-lg-0">
      <section class="card dashboard-widget-card p-38">
        <div class="card-body p-0">
          <div class="row primary-color fs-13">
            <div class="col-md-12 ">
              <form [formGroup]="form">
                <section>
                  <div>
                    <div class="row form-group">
                      <div class="col-md-12 col-lg-6">
                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Email Address</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="email"
                              name="email"
                              formControlName="Email"
                              [ngClass]="{ 'border-danger': form.get('Email').invalid && submitted }"
                              placeholder="Email Address"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">First Name</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="text"
                              name="firstName"
                              formControlName="FirstName"
                              [ngClass]="{ 'border-danger': form.get('FirstName').invalid && submitted }"
                              placeholder="First Name"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Last Name</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="text"
                              name="lastName"
                              formControlName="LastName"
                              [ngClass]="{ 'border-danger': form.get('LastName').invalid && submitted }"
                              placeholder="Last Name"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Password</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="password"
                              name="password"
                              formControlName="Password"
                              [ngClass]="{ 'border-danger': form.get('Password').invalid && submitted }"
                              placeholder="Password"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Confirm Password</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="password"
                              name="confirmPassword"
                              formControlName="confirmPassword"
                              [ngClass]="{ 'border-danger': form.get('confirmPassword').invalid && submitted }"
                              placeholder="Confirm Password"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Phone</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="text"
                              name="phone"
                              formControlName="PhoneNumber"
                              [ngClass]="{ 'border-danger': form.get('PhoneNumber').invalid && submitted }"
                              placeholder="Phone"
                              class="form-control"
                            />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-6">
                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Role</label>
                          </div>
                          <div class="col-6">
                            <select
                              name="role"
                              formControlName="RoleName"
                              [ngClass]="{ 'border-danger': form.get('RoleName').invalid && submitted }"
                              class="form-control"
                              placeholder="Role"
                            >
                              <option [value]="role?.name" *ngFor="let role of roles">{{ role?.name }}</option>
                            </select>
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Institute</label>
                          </div>
                          <div class="col-6">
                            <select
                              name="institute"
                              formControlName="InstituteId"
                              [ngClass]="{ 'border-danger': form.get('InstituteId').invalid && submitted }"
                              class="form-control"
                              placeholder="Role"
                            >
                              <option [value]="institute?.id" *ngFor="let institute of institutes">{{ institute?.instituteName }}</option>
                            </select>
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Department</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="text"
                              name="department"
                              formControlName="department"
                              [ngClass]="{ 'border-danger': form.get('department').invalid && submitted }"
                              placeholder="Department"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Designation</label>
                          </div>
                          <div class="col-6">
                            <input
                              type="text"
                              name="designation"
                              formControlName="designation"
                              [ngClass]="{ 'border-danger': form.get('designation').invalid && submitted }"
                              placeholder="Designation"
                              class="form-control"
                            />
                          </div>
                        </div>

                        <div class="row mt-4">
                          <div class="col-5">
                            <label for="" class="mt-2">Year of joining</label>
                          </div>
                          <div class="col-6">
                            <select
                              name="yearOfJoining"
                              formControlName="yearOfJoining"
                              [ngClass]="{ 'border-danger': form.get('yearOfJoining').invalid && submitted }"
                              class="form-control"
                              placeholder="Year Of Joining"
                            >
                              <option [value]="year?.id" *ngFor="let year of years">{{ year?.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <a [routerLink]="['/users']" class="btn btn-primary secondary-btn"> Cancel </a>
                        <button type="submit" class="ml-3 btn btn-primary primary-btn" (click)="submit()">
                          {{ editMode ? 'Update' : 'Save' }}
                        </button>
                      </div>
                    </div>
                  </div>
                </section>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- end: page -->
</section>
