<section role="main" class="content-body" style="margin-left:0px">
  <section class="call-to-action call-to-action-primary call-to-action-top mb-4">
    <div class="container">
      <div class="row text-center pt-3">
        <div class="col-md-10 mx-md-auto">
          <h2 class="text-color-light mb-0 mt-4">
            My Dashboard
          </h2>
          <p class="text-color-light">The website contains <strong>2368</strong> equipment records</p>
        </div>
      </div>
      <div class="row text-center pt-3">
        <div class="col-md-4">
          <section class="card card-featured-left card-featured-primary mb-3">
            <div class="card-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fas fa-briefcase"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">My Total Bookings</h4>
                    <div class="info">
                      <h1>04</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          <section class="card card-featured-left card-featured-primary mb-3">
            <div class="card-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fas fa-check-circle"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">Booked Equipment</h4>
                    <div class="info">
                      <h1>02</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-4">
          <section class="card card-featured-left card-featured-primary mb-3">
            <div class="card-body">
              <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                  <div class="summary-icon bg-primary">
                    <i class="fas fa-wrench"></i>
                  </div>
                </div>
                <div class="widget-summary-col">
                  <div class="summary">
                    <h4 class="title">Pending Request</h4>
                    <div class="info">
                      <h1>02</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4" style="background-color:white">
    <div class="container">
      <h4 class="mt-0 mb-0">My Total Booking</h4>
      <p class="mb-3">showing <strong>4</strong> out of 4 some content.</p>
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <ul class="simple-post-list">
            <li>
              <div class="row" style="position: relative;">
                <!-- <span style="color: gray;position: absolute;bottom: 0px;right: 25px;font-size: 15px;">
                  <i class="fas fa-map-marker"></i> 504, abc street, state
                </span> -->
                <div class="col-lg-2" style="text-align: right;">
                  <div class="img-thumbnail">
                    <a href="#">
                      <img src="./assets/img/post-thumb-1.jpg" style="width: 80px;" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-lg-8">
                  <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                  <ul class="simple-bullet-list mb-3">
                    <li class="gray" style="border-bottom:0px;margin-top: 10px;">
                      <span class="title" style="color: gray;">Porto Template</span>
                    </li>
                    <li class="gray" style="border-bottom:0px">
                      <span class="title" style="color: gray;">Tucson HTML5 Template</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary mt-2" type="submit" style="font-size:10px;width: 100%;">
                    Requested
                  </button>
                  <br />
                  <button class="btn btn-primary mt-2" type="submit" style="font-size:10px;width: 100%">Cancel</button>
                </div>
              </div>
            </li>
            <li>
              <div class="row" style="position: relative;">
                <!-- <span style="color: gray;position: absolute;bottom: 0px;right: 25px;font-size: 15px;">
                  <i class="fas fa-map-marker"></i> 504, abc street, state
                </span> -->
                <div class="col-lg-2" style="text-align: right;">
                  <div class="img-thumbnail">
                    <a href="#">
                      <img src="./assets/img/post-thumb-1.jpg" style="width: 80px;" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-lg-8">
                  <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                  <ul class="simple-bullet-list mb-3">
                    <li class="gray" style="border-bottom:0px;margin-top: 10px;">
                      <span class="title" style="color: gray;">Porto Template</span>
                    </li>
                    <li class="gray" style="border-bottom:0px">
                      <span class="title" style="color: gray;">Tucson HTML5 Template</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary mt-2" type="submit" style="font-size:10px;width: 100%;">
                    Requested
                  </button>
                  <br />
                  <button class="btn btn-primary mt-2" type="submit" style="font-size:10px;width: 100%">Cancel</button>
                </div>
              </div>
            </li>
            <li>
              <div class="row" style="position: relative;">
                <!-- <span style="color: gray;position: absolute;bottom: 0px;right: 25px;font-size: 15px;">
                  <i class="fas fa-map-marker"></i> 504, abc street, state
                </span> -->
                <div class="col-lg-2" style="text-align: right;">
                  <div class="img-thumbnail">
                    <a href="#">
                      <img src="./assets/img/post-thumb-1.jpg" style="width: 80px;" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-lg-8">
                  <a href="#">Nullam Vitae Nibh Un Odiosters</a>
                  <ul class="simple-bullet-list mb-3">
                    <li class="gray" style="border-bottom:0px;margin-top: 10px;">
                      <span class="title" style="color: gray;">Porto Template</span>
                    </li>
                    <li class="gray" style="border-bottom:0px">
                      <span class="title" style="color: gray;">Tucson HTML5 Template</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-2">
                  <button class="btn btn-primary mt-2" type="submit" style="font-size:10px;width: 100%;">
                    Requested
                  </button>
                  <br />
                  <button class="btn btn-primary mt-2" type="submit" style="font-size:10px;width: 100%">Cancel</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action call-to-action-top mb-4">
    <div class="container">
      <br />
      <br />
      <div class="row">
        <div class="col-md-4 ">
          <h4>Resoruces</h4>
          <br />
          <p>Terms of service</p>
          <p>Pravacy Policy</p>
          <p>Legal Information</p>
          <p>Disclaimer</p>
        </div>
        <div class="col-md-4 ">
          <h4>What is AMP?</h4>
          <br />
          <p>About Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-md-4 ">
          <h2>AMP LOGO</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
