.fixed {
  position: fixed;
  z-index: 1020;
}
#time {
  font-size: 15px;
  color: black;
  width: 700px;
  vertical-align: middle;
}
.set {
  transform: translate3d(0px, 30px, 0px) !important;
}

.notification-menu .title {
  display: unset !important;
}
.badge {
  border-radius: 100% !important;
}
.logo {
  // margin: -54px 0 0 15px !important;
}
