/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
// Theme customization
@import "theme/theme";
// Fullcalender.io
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
// Material Design
@import '~@angular/material/theming';
@include mat-core();
$md-mcgpalette0: ( 50: #efe7eb, 100: #d8c3cd, 200: #be9cac, 300: #a4748b, 400: #915672, 500: #7d3859, 600: #753251, 700: #6a2b48, 800: #60243e, 900: #4d172e, A100: #ff8bb8, A200: #ff5898, A400: #ff2579, A700: #ff0b6a, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #ffffff, A700: #ffffff, ));
$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-red);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
    $alternate-primary: mat-palette($mat-light-blue);
    $alternate-accent: mat-palette($mat-yellow, 400);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}

// TOaster
// regular style toast 
@import '~ngx-toastr/toastr';