<div  *ngIf="isLoading" style="height:100vh">
   <div  style="position: relative; top: 40%;-webkit-transform: translateY(-50%); transform: translateY(-50%); width: 50%; margin: auto;" >
      <p>Loading Dashboard ...</p>
      <mat-progress-bar class="loading-progress-bar " color="primary" mode="query"></mat-progress-bar>
   </div>
</div>
<section *ngIf="!isLoading"  role="main" class="content-body">
   <header class="page-header">
      <div class="right-wrapper text-left">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
               <i class="fas fa-home"></i>
               </a>
            </li>
            <li><span>My dashboard</span></li>
         </ol>
      </div>
   </header>
   <!-- start: page -->
   <div class="row">
      <div class="col-lg-12">
         <div class="row mb-3">
            <div class="col-xl-3">
               <section class="card mb-3 dashboard-widget-card" style=" height: 200px; ">
                  <div class="card-body">
                     <div class="widget-summary">
                        <div class="widget-summary-col">
                           <div class="summary">
                              <h4 style=" word-break: keep-all; ">New Booking Request </h4>
                              <div style=" position: absolute; bottom: 10px; ">
                                 <h2 class="dashboard-widget-tittle-orange" ><b>{{dashboardStat.requestedEquipmentsToday}}</b></h2>
                              </div>
                           </div>
                        </div>
                        <div class="widget-summary-col">
                           <div class="summary-icon dashboard-widget-icon-bg-orange">
                              <i class="fas fa-life-ring"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
            <div class="col-xl-3">
               <section class="card mb-3 dashboard-widget-card" style=" height: 200px; ">
                  <div class="card-body">
                     <div class="widget-summary">
                        <div class="widget-summary-col">
                           <div class="summary">
                              <h4 style=" word-break: keep-all; ">Equipment Booked Today </h4>
                              <div style=" position: absolute; bottom: 10px; ">
                                 <h2 class="dashboard-widget-tittle-green" ><b>{{dashboardStat.bookedEquipmentsToday}}</b></h2>
                              </div>
                           </div>
                        </div>
                        <div class="widget-summary-col">
                           <div class="summary-icon dashboard-widget-icon-bg-green">
                              <i class="fas fa-life-ring"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
            <div class="col-xl-3">
               <section class="card mb-3 dashboard-widget-card" style=" height: 200px; ">
                  <div class="card-body">
                     <div class="widget-summary">
                        <div class="widget-summary-col">
                           <div class="summary">
                              <h4 style=" word-break: keep-all; ">Rejected Equipments Today </h4>
                              <div style=" position: absolute; bottom: 10px; ">
                                 <h2 class="dashboard-widget-tittle-blue" ><b>{{dashboardStat.rejectedEquipmentsToday}}</b></h2>
                              </div>
                           </div>
                        </div>
                        <div class="widget-summary-col">
                           <div class="summary-icon dashboard-widget-icon-bg-blue">
                              <i class="fas fa-life-ring"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
            <div class="col-xl-3">
               <section class="card mb-3 dashboard-widget-card" style=" height: 200px; ">
                  <div class="card-body">
                     <div class="widget-summary">
                        <div class="widget-summary-col">
                           <div class="summary">
                              <h4 style=" word-break: keep-all; ">Total Equipment Availble </h4>
                              <div style=" position: absolute; bottom: 10px; ">
                                 <h2 class="dashboard-widget-tittle-yellow" ><b>{{dashboardStat.totalEquipmentAvailable}}</b></h2>
                              </div>
                           </div>
                        </div>
                        <div class="widget-summary-col">
                           <div class="summary-icon dashboard-widget-icon-bg-yellow">
                              <i class="fas fa-life-ring"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </div>
   <div class="row pt-4">
      <div class="col-lg-12 mb-4 mb-lg-0">
         <section class="card  dashboard-widget-card">
            <div class="card-body" style=" text-align: right; ">
               <button type="button" (click)='selectChart(2)' [ngClass]="{'selectChartButton': bookingChartKey ===2}" class="mb-1 mt-1 mr-1 btn btn-default">Week</button>
               <button type="button" (click)='selectChart(1)' [ngClass]="{'selectChartButton': bookingChartKey ===1}" class="mb-1 mt-1 mr-1 btn btn-default">Month</button>
               <button type="button" (click)='selectChart(0)' [ngClass]="{'selectChartButton': bookingChartKey ===0}" class="mb-1 mt-1 mr-1 btn btn-default" style="">Year</button>
               <!-- Flot: Basic -->
               <div class="chart chart-md" id="flotDashBasic" style="padding: 0px; position: relative;">
                 
               </div>
            </div>
         </section>
      </div>
   </div>
   <div class="row pt-4">
      <div class="col-lg-12 mb-4 mb-lg-0">
         <section class="card dashboard-widget-card">
            <div class="card-body">
               <mat-tab-group mat-align-tabs="start">
                  <mat-tab label="Booking">
				   <div style="float: right;">
                  <mat-form-field fxFlex="40%">
                     <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field>
                     <mat-select >
                        <mat-option value="option1" selected>All</mat-option>
                        <mat-option value="option2">Accept</mat-option>
                        <mat-option value="option3">Reject</mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
               <div class="mat-elevation-z0">
                  <table mat-table [dataSource]="dataSource">
                     
                     <ng-container matColumnDef="id">
                        <th style=" width: 15%; " mat-header-cell  *matHeaderCellDef> Id. </th>
                        <td mat-cell    *matCellDef="let element;let i = index"> {{element.id}} </td>
                     </ng-container>
                     
                     <ng-container matColumnDef="equipment">
                        <th style=" width: 15%; " class="w-30"  mat-header-cell *matHeaderCellDef> Equipment </th>
                        <td mat-cell *matCellDef="let element"> {{element.equipmentName}} </td>
                     </ng-container>
                     
                     <ng-container matColumnDef="username">
                        <th style=" width: 15%; " class="w-30"  mat-header-cell *matHeaderCellDef> Username </th>
                        <td mat-cell *matCellDef="let element"> {{element.bookedBy}} </td>
                     </ng-container>
                     
                     <ng-container matColumnDef="timeslot">
                        <th style=" width: 15%; " class="w-30"  mat-header-cell *matHeaderCellDef> Timeslot </th>
                        <td mat-cell *matCellDef="let element"> {{element.startDateTime | date}} to {{element.endDateTime | date}} </td>
                     </ng-container>

                     <ng-container matColumnDef="status">
                        <th style=" width: 15%; " class="w-30"  mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.bookingStatus}} </td>
                     </ng-container>

                     <ng-container matColumnDef="actions">
                        <th style=" width: 10%; " class="w-30"  mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element;let i = index"> 
                           <button *ngIf="(element.bookingStatus=='Requested')" (click)='acceptBookings(element.id,i)' matTooltip="Accept Booking" mat-mini-fab color="white">	<i class="fas fa-check"></i></button>
                           &nbsp;
                           <button *ngIf="(element.bookingStatus=='Requested')" (click)='rejectBookings(element.id,i)' matTooltip="Reject Booking" mat-mini-fab color="warn">	<i class="fas fa-times"></i></button>
                        </td>
                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                   <mat-paginator #paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>
                  
               </div>

				  </mat-tab>
                  <mat-tab label="Calender">Content 2</mat-tab>
               </mat-tab-group>
              
            </div>
         </section>
      </div>
   </div>
   <!-- end: page -->
</section>
<app-reject-reason-dialog-modal *ngIf="false" ></app-reject-reason-dialog-modal>