$orange-dashboard: #faa024;
$green-dashboard: #5cc324;
$blue-dashboard: #257bff;
$yellow-dashboard: #cccc00;
.selectChartButton {
    background-color: #7d3859;
    color: #fff;
    margin-bottom: 10px !important;
}

.w-75 {
    width: 20px;
}

table {
    width: 100%;
}

.dashboard-widget-card {
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border-radius: 10px;
}

.dashboard-widget-tittle-orange {
    font-size: 50px;
    color: $orange-dashboard;
}

.dashboard-widget-icon-bg-orange {
    margin-top: 65px;
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.27);
    background-color: $orange-dashboard !important;
}

.dashboard-widget-tittle-green {
    font-size: 50px;
    color: $green-dashboard;
}

.dashboard-widget-icon-bg-green {
    margin-top: 65px;
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.27);
    background-color: $green-dashboard !important;
}

.dashboard-widget-tittle-blue {
    font-size: 50px;
    color: $blue-dashboard;
}

.dashboard-widget-icon-bg-blue {
    margin-top: 65px;
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.27);
    background-color: $blue-dashboard !important;
}

.dashboard-widget-tittle-yellow {
    font-size: 50px;
    color: $yellow-dashboard;
}

.dashboard-widget-icon-bg-yellow {
    margin-top: 65px;
    box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.27);
    background-color: $yellow-dashboard !important;
}

.logo {
    width: 100px;
}

q {
    font-style: italic;
    font-size: 1.2rem;
    quotes: "« " " »";
}

.radio-toolbar {
    margin: 10px;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    // background-color: rgb(150, 145, 145);
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.radio-toolbar label:hover {
    background-color: #7fb9ee;
}

.radio-toolbar input[type="radio"]:focus+label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #fff;
    border-color: #fff;
    color: #0073dd;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 8px 15px 5px rgba(232, 230, 225, 0);
    box-shadow: 0px 10px 13px -7px #000000, -1px 8px 15px 5px rgba(232, 230, 225, 0);
}