<!-- my-dialog-modal.component.html -->
<h2>Reject Booking Request</h2>
<br>
<div>
    <mat-form-field style="width:100%">
        <input matInput [(ngModel)]="fromDialog" placeholder="Booking Reject Reason">
    </mat-form-field>
</div>
<br>
<div>
    <button mat-raised-button (click)="closeDialog()">Close</button>
    <button [disabled]="!fromDialog" style="float:right" mat-raised-button color="primary" (click)="saveDialog()">Save</button>
</div>